/*IMPORTS*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap');

/*COLORS*/
/*
#2F2E2A - black0101
#956074 - red0101
*/


/*INITIAL*/
:root {
    --white01: #FFFEFE;
    --black01: #061527;
    --black02: #212121;
    --gray01: #999999;
    --gray02: #3F3F3F;
    --red01: #E84747;
}

* {
    font-family: Roboto, Arial, sans-serif;
    font-size: 1em;
}

/*ANIMATIONS*/
.fading {
    animation: fading 3s infinite;
    -webkit-animation: fading 3s infinite;
    -moz-animation: fading 3s infinite;
    -ms-animation: fading 3s infinite;
    -o-animation: fading 3s infinite;
}
@keyframes fading {
    0% {opacity: .3;}
    40% {opacity: 1;}
    60% {opacity: 1;}
    100% {opacity: .3;}
}
@-webkit-keyframes fading {
    0% {opacity: .3;}
    40% {opacity: 1;}
    60% {opacity: 1;}
    100% {opacity: .3;}
}
@-moz-keyframes fading {
    0% {opacity: .3;}
    40% {opacity: 1;}
    60% {opacity: 1;}
    100% {opacity: .3;}
}
@-o-keyframes fading {
    0% {opacity: .3;}
    40% {opacity: 1;}
    60% {opacity: 1;}
    100% {opacity: .3;}
}

/*WIDTH*/
.w-100vw {
    width: 100vw;
}
/*HEIGHT*/
.h-10em {
    height: 5em;
}
.mh-100vh {
    min-height: 100vh;
}
.mh-90vh {
    min-height: 90vh;
}
.mh-80vh {
    min-height: 80vh;
}
.mh-70vh {
    min-height: 70vh;
}
.mh-60vh {
    min-height: 60vh;
}
.mh-50vh {
    min-height: 50vh;
}
.mh-30vh {
    min-height: 30vh;
}
.mh-20vh {
    min-height: 20vh;
}
.mh-10vh {
    min-height: 10vh;
}
/*MARGINS*/
.m-75 {
    margin: 75%;
}

/*FONTS*/
/*font sizes*/
.foSize-_5em {
    font-size: .5em;
}
.foSize-1em {
    font-size: 1em;
}
.foSize-1_25em {
    font-size: 1.25em;
}
.foSize-1_5em {
    font-size: 1.5em;
}
.foSize-1_75em {
    font-size: 1.75em;
}
.foSize-2em {
    font-size: 2em;
}
.foSize-2_5em {
    font-size: 2.5em;
}
.foSize-3em {
    font-size: 3em;
}
.foSize-4em {
    font-size: 4em;
}
.foSize-8em {
    font-size: 8em;
}
/*font weight*/
.foWeight-100 {
    font-weight: 100;
}
.foWeight-300 {
    font-weight: 300;
}
.foWeight-400 {
    font-weight: 400;
}
.foWeight-700 {
    font-weight: 700;
}
/*font color*/
.foColor-white01 {
    color: var(--white01);
}
.foColor-black01 {
    color: var(--black01);
}
.foColor-gray01 {
    color: var(--gray01);
}
.foColor-red01 {
    color: var(--red01);
}

/*LINE HEIGHTS*/
.lineh-1_25em {
    line-height: 1.25em;
}
.lineh-2_5em {
    line-height: 2.5em;
}

/*BACKGROUND COLORS*/
.bg-white01 {
    background-color: var(--white01)
}
.bg-black01 {
    background-color: var(--black01)
}
.bg-black02 {
    background-color: var(--black02)
}
.bg-gray01 {
    background-color: var(--gray01)
}
.bg-gray02 {
    background-color: var(--gray02)
}
.bg-red01 {
    background-color: var(--red01)
}


/*BOOTSTRAP*/
.btn {
    background-color: var(--red01);
    height: 3.5em;
    padding-left: 1em !important;
    border-radius: 0px;
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
    transition: opacity .5s;
}
.btn:hover {
    opacity: .5;
}
.btn:focus {
    box-shadow: none;
}


/*CLASSES*/
.addChannelForm {
    width: 25%;
}
.statsContainer {
    border: solid 8px var(--red01);
}
.statsContentContainer {
    line-height: 2em;
    word-break: break-all;
}
.statsContent01 {
    font-size: 3em;
    font-weight: 100;
    max-height: 1em;
    overflow: hidden;
}
.statsContent02 {
    font-size: 1em;
    font-weight: 100;
    max-height: 1em;
    overflow: hidden;
}
.statsLabel {
    font-size: 2em;
    font-weight: 400;
}

/*IDs*/
#loading {
    width: 100%;
    height: 90vh;
}
#searchSection {
    display: none;
}

/*GENERAL*/
a {
    color: var(--black01);
    transition: opacity .5s;
}
a:hover {
    color: var(--black01);
    opacity: .5;
    text-decoration: none;
}
input {
    background-color: var(--black01);
    height: 3.5em;
    padding-left: 1em !important;
    border: solid 3px var(--red01);
    font-size: 1.5em;
    color: var(--red01);
}
input:focus {
    outline: none;
    color: var(--red01);
}
::placeholder {
    font-weight: 100;
    color: var(--red01);
}

/*BOOTSTRAP MEDIA QUERIES*/
@media (max-width: 991.98px) {
    .addChannelForm {
        width: 75%;
    }
}
